@import '~/node_modules/bulma/sass/utilities/initial-variables.sass';
@import '~/node_modules/bulma/sass/utilities/functions.sass';

//override initial variables

//override functions

//derived variables

//custom colors
$highlight: #e54b4b;

$text-color: #4a4a4a;

$primary-bold: #1b9aaa;
$secondary-bold: #ffa987;

$primary-faint: #fff;
$secondary-faint: #f7ebe8;

//Add new color variables to color map
@import '~/node_modules/bulma/sass/utilities/derived-variables.sass';

@import '~/node_modules/bulma/bulma.sass';
